{% extends '__autoindex__/autoindex.html' %}

{% block meta %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/basic.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropzone.css') }}" />
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
{% endblock %}

{% block header %}
    <table style="width:100%">
        <tr>
        <th>
            <div align="left">
                <h2>File Browser</h2>
            </div>
        </th>
        </tr>
    </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <script type="application/javascript">
        Dropzone.options.dropper = {
            init: function () {
                // Set up any event handlers
                this.on('complete', function () {
                    location.reload();
                });
            },
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/',
            maxFilesize: 1025, // megabytes
            chunkSize: 1000000 // bytes
        };
    </script>
    <form method="POST" action='/' class="dropzone dz-clickable" id="dropper" enctype="multipart/form-data"></form>


{% endblock %}

{% block footer %}

{% endblock %}